# https://dev.to/rabeeaali/install-supervisor-on-aws-eb-with-laravel-5g8a

files:
  "/etc/supervisord.d/app.ini":
    mode: "000644"
    owner: root
    group: root
    content: |
      [program:laravel-queue-worker]
      process_name=%(program_name)s_%(process_num)02d
      command = /bin/bash -c "source /opt/elasticbeanstalk/deployment/env-vars && php /var/app/current/artisan queue:work"
      autostart=true
      autorestart=true
      stopasgroup=true
      killasgroup=true
      user=webapp
      numprocs=2
      redirect_stderr=true
      stdout_logfile=/var/app/current/storage/worker.log

container_commands:
  10_install_epel:
    command: amazon-linux-extras install -y epel
  20_install_supervisor:
    command: |
      yum install -y supervisor
      chmod 0777 /var/log/supervisor
  30_start_supervisor:
    command: supervisord -c /etc/supervisord.conf
    ignoreErrors: true
