container_commands:
  01_maintenance_mode_enabled:
    command: |
      /opt/elasticbeanstalk/support/envvars-wrapper.sh
      php artisan down
  02_db_migrations:
    command: |
      /opt/elasticbeanstalk/support/envvars-wrapper.sh
      php artisan migrate
  03_maintenance_mode_disabled:
    command: |
      /opt/elasticbeanstalk/support/envvars-wrapper.sh
      php artisan up
