files:
  "/etc/cron.d/app_schedule_run":
    mode: "000644"
    owner: root
    group: root
    content: |
      * * * * * webapp source /opt/elasticbeanstalk/support/envvars && php /var/app/current/artisan schedule:run

commands:
  # delete backup file created by Elastic Beanstalk
  clear_cron_backup:
    command: rm -f /etc/cron.d/app_schedule_run.bak
    ignoreErrors: true
  # Create webapp home dir to allow running cronjob
  create_webapp_home:
    command: |
      chsh -s /bin/bash webapp
      mkdir /home/webapp
      chown webapp:webapp /home/webapp
      chmod 700 /home/webapp
    test: "[ -d /home/webapp ]"
